:root{
    --primary:#31109c;
    --secondary:#fff;
}

body {
    display: flex;
    flex-direction: column; 
    /* line-height: 1; */
    background:linear-gradient(120deg,
                     rgb(20, 192, 255) 10%, 
                     rgb(8, 149, 97) 50%, 
                     rgb(87, 239, 219) 10%)
  }
  
  header {
    display: block;
    text-align: center;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    padding: 1%;
    background-color: var(--primary);
    color: var(--secondary);
  }
  main {
    display: flex; 
    max-width: 100%;
    margin: 2px 30px;
    justify-content: space-around; 
  }
  
  h1 {
    font-size: 200%;
    text-align: center;
  }
  
  h2 {
    margin: 1% 0;
    font-size: 200%;
  }
  

  .card {
    display:inline-block;  
    /* justify-content: space-between; */
     flex-direction: column;   
     flex-wrap: wrap;  
    border-style: double;
    border-width: 4px;
    /* padding: 1px 0px; */
    transition: all 1s ease-in;
    /* margin: 20px 60px;; */
    margin: auto;
    border-radius: 40px;
    box-shadow: 5px 6px 3px #13293d;
    background-image: linear-gradient( purple, skyblue);
    
  }
  .card:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  .card header:hover {
    color: rgb(99, 219, 39);
    box-shadow: 0 5px 15px rgba(2, 16, 20, 0.4);
  }
  .card header {
    padding: 5px;
    position: relative;
    bottom: 9px;
    text-align: center;
    border-radius: 10px;
    border-style: dashed;
    background-image: linear-gradient( salmon, blue); 
  }
  
  .card p {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: var(--primary);
    color: var(--secondary)
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  @media screen and (max-width: 576px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 600px;
    }
  }
  
  